// Color Variables //
$darkBG: #1f2442;
$lightBG: #2e335a;
$blueAccent: #4f7cff;
$purpleAccent: #6c31f3;
$redAccent: #f35163;
$size-1: 3rem;

// Main //
// Font for main header
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

h2 {
  color: #ffffff;
  font-size: $size-1;
}

.section {
  background: linear-gradient(
    to right,
    #1f2442,
    #1f2442 15%,
    #262a4a 15%,
    #262a4a 77%,
    #1f2442 77%,
    #1f2442
  );
  position: relative;
  overflow: hidden;
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;

  h1 {
    color: white;
    font-family: "Josefin Sans", sans-serif;
  }
  .subtitle {
    color: $blueAccent;
  }
}

$content-heading-color: #575a86;

// Main End //

// Box classes //
.customBox {
  background-color: #2e335a;
  border-radius: 25px;
  padding: 1.25rem;
  margin-bottom: 1.5rem;
  box-shadow: 8px 10px 14px #1f2442;
}

.boxTwo {
  background-color: #1f2442;
  box-shadow: none;
}

.shadow {
  box-shadow: 0px 10px 20px #1f2442;
  border: 0.45px solid #000000;
}

.shadowTwo {
  box-shadow: -8px 10px 14px #1f2442;
}

.shadowThree {
  box-shadow: 7px 7px 20px #1f2442;
  border: 0.5px solid #000000;
}

$box-radius: 25px;
$box-background-color: #2e335a;

// Box classes end //

// table Start //

$table-cell-heading-color: #ffffff;
$table-color: #ffffff;
$table-background-color: #2d345b;
$table-cell-border: 1px solid $blueAccent;

// Table End //

// Map Start //

// .map-wrapper {
//   position: absolute;
//   width: 100%;
//   height: 100%;
// }

// Map End //

// Widget Start //

.widBox {
  border-radius: 25px;
  color: #2e335a;
  display: block;
  padding: 0.4rem;
  margin: 0.4rem;
}

.widgetOne {
  background-color: #4f7cff;
}

.widgetTwo {
  background-color: #6c31f3;
}

.widgetThree {
  background-color: #f35163;
}

li {
  margin: 1rem;
}

// Widget End //

BarChart {
  margin: 0 auto;
}

@import "node_modules/bulmaswatch/minty/bulmaswatch";

// Styling here to override bulma settings
h2 {
  font-size: 35px;
  letter-spacing: 3px;
}

h3 {
  font-weight: 700;
  letter-spacing: 1px;
}

body {
  height: 95vh;
}
