// Color Variables //
$darkBG: #1f2442;
$lightBG: #2e335a;
$blueAccent: #4f7cff;
$purpleAccent: #6c31f3;
$redAccent: #f35163;
$size-1: 3rem;

// Main //
// Font for main header
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

h2 {
  color: #ffffff;
  font-size: $size-1;
}

.section {
  background-image: linear-gradient(to right, #1a1e35, #313761, #1a1e35);

  h1 {
    color: white;
    font-family: "Josefin Sans", sans-serif;
  }
  .subtitle {
    color: $blueAccent;
  }
}

$content-heading-color: #575a86;

// Main End //

// Box classes //
.yo {
  box-shadow: none;
  background-color: #2e335a;
  border: 1px solid red;
  border-radius: 25px;
  padding: 1.25rem;
}

$box-radius: 25px;
$box-background-color: #2e335a;

// Box classes end //

// table Start //

$table-cell-heading-color: #ffffff;
$table-color: #ffffff;
$table-background-color: #2d345b;
$table-cell-border: 1px solid $blueAccent;

// Table End //

// Map Start //

// .map-wrapper {
//   position: absolute;
//   width: 100%;
//   height: 100%;
// }

// Map End //

// Widget Start //

.widBox {
  border-radius: 25px;
  box-shadow: 0 0 0 1px #dbdbdb;
  color: #2e335a;
  display: block;
  padding: 0.4rem;
  margin: 0.3rem;
}

.widgetOne {
  background-color: #4f7cff;
}

.widgetTwo {
  background-color: #6c31f3;
}

.widgetThree {
  background-color: #f35163;
}

li {
  margin: 1rem;
}

// Widget End //

BarChart {
  margin: 0 auto;
}

@import "node_modules/bulmaswatch/minty/bulmaswatch";

// Styling here to override bulma settings
h2 {
  font-size: 35px;
  letter-spacing: 3px;
}

h3 {
  font-weight: 700;
  letter-spacing: 1px;
}

body {
  height: 95vh;
}
