@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
html {
  font-size: 13px;
}

h2 {
  color: #ffffff;
  font-size: 3rem;
}

.section {
  background: -webkit-gradient(linear, left top, right top, from(#1f2442), color-stop(15%, #1f2442), color-stop(15%, #262a4a), color-stop(77%, #262a4a), color-stop(77%, #1f2442), to(#1f2442));
  background: linear-gradient(to right, #1f2442, #1f2442 15%, #262a4a 15%, #262a4a 77%, #1f2442 77%, #1f2442);
  position: relative;
  overflow: hidden;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  width: 100%;
  min-height: 100vh;
}

.section h1 {
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

.section .subtitle {
  color: #4f7cff;
}

.loadScreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

.customBox {
  background-color: #2e335a;
  border-radius: 25px;
  padding: 1.25rem;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 8px 10px 14px #1f2442;
          box-shadow: 8px 10px 14px #1f2442;
}

.boxTwo {
  background-color: #1f2442;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.shadow {
  -webkit-box-shadow: 0px 10px 20px #1f2442;
          box-shadow: 0px 10px 20px #1f2442;
  border: 0.45px solid #000000;
}

.shadowTwo {
  -webkit-box-shadow: -8px 10px 14px #1f2442;
          box-shadow: -8px 10px 14px #1f2442;
}

.shadowThree {
  -webkit-box-shadow: 7px 7px 20px #1f2442;
          box-shadow: 7px 7px 20px #1f2442;
  border: 0.5px solid #000000;
}

.recharts-surface {
  overflow: visible;
  padding-left: 25px;
}

.recharts-cartesian-axis {
  padding-top: 10px;
}

svg > g.recharts-layer.recharts-cartesian-axis.recharts-yAxis.yAxis {
  -webkit-transform: translate(0.001rem, 0);
          transform: translate(0.001rem, 0);
}

.barGra {
  color: white;
  font-size: 20rem;
  margin-top: 3px;
  margin-bottom: 0;
  text-align: center;
}

.barGra p {
  font-size: 20rem;
}

.widBox {
  border-radius: 25px;
  color: #2e335a;
  display: block;
  padding: 0.4rem;
  margin: 0.4rem;
}

.widgetOne {
  background-color: #4f7cff;
}

.widgetTwo {
  background-color: #6c31f3;
}

.widgetThree {
  background-color: #f35163;
}

li {
  margin: 1rem;
}

BarChart {
  margin: 0 auto;
}

.recharts-surface {
  overflow: visible;
  padding-left: 25px;
}

svg > g.recharts-layer.recharts-cartesian-axis.recharts-yAxis.yAxis {
  -webkit-transform: translate(0.001rem, 0);
          transform: translate(0.001rem, 0);
}

.footer {
  background-color: #2e335a;
  border-radius: 25px;
  padding: 1rem 1rem 1rem;
}

h2 {
  font-size: 1.8rem;
  letter-spacing: 3px;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
}

body {
  height: 95vh;
}
/*# sourceMappingURL=index.css.map */