// Color Variables //
$darkBG: #1f2442;
$lightBG: #2e335a;
$blueAccent: #4f7cff;
$purpleAccent: #6c31f3;
$redAccent: #f35163;
// main //
h2 {
  color: #ffffff;
}

.section {
  background: #1f2442;
  h1 {
    color: #575a86;
  }
}
// Box classes //
$box-radius: 25px;
$box-color: #2e335a;
$box-background-color: #2e335a;
$scheme-main: black;
// table Start //
$table-cell-heading-color: #ffffff;
$table-color: #ffffff;
$table-background-color: #2d345b;
$table-cell-border: 1px solid $blueAccent;

// Widget Start //
.widBox {
  border-radius: 25px;
  box-shadow: 0 0 0 1px #dbdbdb;
  color: #2e335a;
  display: block;
  padding: 0.4rem;
  margin: 0.8rem;
}

.widgetOne {
  background-color: #4f7cff;
}

.widgetTwo {
  background-color: #6c31f3;
}

.widgetThree {
  background-color: #f35163;
}

li {
  margin: 1rem;
}

@import "node_modules/bulmaswatch/minty/bulmaswatch";
